*{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    box-sizing: border-box;
    padding: 0 0;
    margin: 0 0;
}

/* nav bar meerdere pagina's */
body{
    background-color: #555;
    position: relative;
    min-height: 100vh;
}

nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0;
    background-color: rgb(42, 40, 40);
}

nav a{
    display: inline-block;
    text-decoration: none;
    margin: 10px 30px;
    color: rgb(224, 214, 214);
}

nav a:hover{
    color: #ffae00;
    transition: 0.5s;
}

nav ul {
    flex: 1;
    list-style: none;
    text-align: center;
    padding-left: 100px;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    margin: 10px 30px;
    color: rgb(224, 214, 214);
}

nav li a:hover {
    color: #ffae00;
    transition: 0.5s;
}

nav img{
    inline-size: 100px;
    margin-left: 40px;
}

.btn{
    color: white;
    border-color: white;
    border-radius: 10px;
    align-content: center;
    margin-right: 20px;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
}

.btn:hover{
    background-color: #ffae00;
    transition: 0.5s;
}

/* home pagina */
.line{
    height: 10px;
    width: auto;
    background-image: linear-gradient(rgb(41, 41, 41), #ffae00);
}

.container-one{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/site/img/imageGimp.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 5in;
}


.container-home{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 65rem;
    min-height: 25rem;
    background-color: rgba(255, 255, 255, 0.322);
    border-radius: 50px;
    position: absolute;
}

.container-home h2{
    text-align: center;
    font-size: 75px;
    color: rgb(20, 20, 20);
}

.container-home p{
    text-align: center;
    font-size: 30px;
    color: rgb(20, 20, 20);
    margin: 5px;
}
.btn-rit{
    text-decoration: none;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #797979;
    color: black;
    font-size: 20px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
    
.btn-rit:hover{
    background-color: #ffae00;
    transition: 0.5s;
}

.container-two{
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
}

.container-box3{
    align-items: center;
    text-align: center;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 40%;
    background-color: rgba(255, 187, 0, 0.425);
    border-radius: 50px;
}

.box-3{
    width: 25%;
    float: left;
    margin: 4%;
    position: relative;
}

.box-3 img{
    width: 200px;
    height: 300px;
    object-fit: cover;
    object-position: 15% 100%;
    border-radius: 30px;
    border: #ffae00 2px solid;
}

.box-3 h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #000000;
    background-color: rgb(90, 90, 90);
    border-radius: 10px;
    padding: 2%;
    border: #ffae00 2px solid;
}

.text-center{
    text-align: center;
    font-size: 1.5rem;
}

footer{
    background-color: rgb(42, 40, 40);
    position: static;
    bottom: 0;
    width: 100%;
    height: 10rem;  
}

/* login pagina + signup pagina*/
.login{
    background-color: rgb(42, 40, 40);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inloggen{
    width: 500px;
    border: 2px solid #ccc;
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
}

.log{
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}

.inloggen input{
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.inloggen label {
    color:#888;
    font-size: 18px;
    padding: 10px;
}

.inloggen button{
    float: right;
    background-color: #555;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
}
.inloggen button:hover{
    background-color: #ffae00;
    transition: 0.5s;
    opacity: .7;
}

.error{
    background: rgb(243, 140, 140);
    color: rgb(90, 18, 18);
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}
.success{
    background: rgb(98, 211, 143);
    color: rgb(0, 82, 20);
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

.ca{
    font-size: 14px;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color:#555;
}

.ca:hover{
    text-decoration: underline;
}

/* signup gedeelte */
.signUp{
    background-color: rgb(42, 40, 40);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
}