*{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    box-sizing: border-box;
    padding: 0 0;
    margin: 0 0;
}

/* nav bar meerdere pagina's */
body{
    background-color: #555;
    position: relative;
    min-height: 100vh;
}

/* header css */
.header_nav{
    background-color: rgb(42, 40, 40);
}

.container{
    width: 100%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
}

.container_width{
    width: 90%;
}

.header{
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo{
    image-rendering: optimizeSpeed;
    image-resolution: scale-down;
    mix-blend-mode:screen;
    max-height: 50px;
    max-width: 50px;
    margin: 8px;
    border: 1px solid goldenrod;
    border-radius: 50px;
}

/* nav css */
nav{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 0;
}

nav ul {
    flex: 1;
    list-style: none;
    text-align: center;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    margin: 10px 30px;
    color: rgb(224, 214, 214);
    transition: all 0.3s ease;
}

nav li a:hover {
    color: #ffae00;
}

.btn_contact{
    color: white;
    border-color: white;
    border-radius: 10px;
    align-content: center;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn_contact:hover{
    background-color: #ffae00;
}

/* home pagina */
.line{
    height: 10px;
    width: auto;
    background-image: linear-gradient(rgb(41, 41, 41), #ffae00);
}

.container_img{
    background-image: url(../img/imageGimp.png);
    image-rendering: optimizeQuality;
    image-rendering: optimizeSpeed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.box_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    min-height: 5in;
    padding: 1in 0;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 60rem;
    min-height: 25rem;
    background-color: rgba(160, 160, 160, 0.89);
    border-radius: 50px;
}

.box h2{
    text-align: center;
    font-size: 75px;
    color: rgb(20, 20, 20);
}

.box p{
    text-align: center;
    font-size: 30px;
    color: rgb(20, 20, 20);
    margin: 5px;
}
.btn_link{
    text-decoration: none;
    background-color: #797979;
    color: black;
    font-size: 20px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin: 20px 0 0 0;
    transition: all 0.3s ease;
}
    
.btn_link:hover{
    background-color: #ffae00;
    transition: 0.5s;
}

.box_card_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 60rem;
    min-height: 25rem;
    background-color: rgba(255, 187, 0, 0.425);
    border-radius: 50px;
}

.card_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 60rem;
    min-height: 25rem;
}

.card_title{
    text-align: center;
    font-size: 60px;
    color: rgb(20, 20, 20);
    margin-top: 10px;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin: 4%;
    position: relative;
}

.card img{
    width: 200px;
    height: 300px;
    object-fit: cover;
    object-position: 15% 100%;
    border-radius: 30px;
    border: #ffae00 2px solid;
}

.card h3{
    position: absolute;
    font-size: 18px;
    color: #000000;
    background-color: rgb(163, 163, 163);
    border-radius: 10px;
    padding: 2%;
    border: #ffae00 2px solid;
}

.text_center{
    text-align: center;
    font-size: 60px;
    color: rgb(20, 20, 20);
    margin-top: 10px;
}

footer{
    background-color: rgb(42, 40, 40);
    position: static;
    bottom: 0;
    width: 100%;
    height: 10rem;  
}

/* login pagina + signup pagina*/
.login{
    background-color: rgb(42, 40, 40);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inloggen{
    width: 500px;
    border: 2px solid #ccc;
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
}

.log{
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}

.inloggen input{
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.inloggen label {
    color:#888;
    font-size: 18px;
    padding: 10px;
}

.inloggen button{
    float: right;
    background-color: #555;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
}
.inloggen button:hover{
    background-color: #ffae00;
    transition: 0.5s;
    opacity: .7;
}

.error{
    background: rgb(243, 140, 140);
    color: rgb(90, 18, 18);
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}
.success{
    background: rgb(98, 211, 143);
    color: rgb(0, 82, 20);
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

.ca{
    font-size: 14px;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color:#555;
}

.ca:hover{
    text-decoration: underline;
}

/* signup gedeelte */
.signUp{
    background-color: rgb(42, 40, 40);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
}